@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import "tailwindcss";

.leaflet-control-geosearch input {
  color: #000000 !important;
}

.leaflet-control-geosearch input::placeholder {
  color: #666666 !important;
}

.leaflet-control-geosearch .results {
  color: #000000 !important;
}

.leaflet-control-geosearch .results > * {
  color: #000000 !important;
}
